.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.artist-img {
    height: 500px;
    width: 500px;
    margin: 25% 45px 25% 100px;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 175px;
    color: #EC058E;
}