.artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 130px 0 200px 100px;
}

.artist-img {
    height: 500px;
    width: 500px;
    margin-right: 45px;
}

.artist-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 175px;
    color: #EC058E;
}